*{
  box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(118 118 118);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  max-width: 1280px;
  margin: auto;
  padding: 16px 32px;
}

.header {
  text-align: center;
  padding: 32px 0;
}

.wrapper {
  min-height: 400px;
  padding: 16px 0;
  position: relative;
}

.wrapper.col-2 {
  display: inline-block;
  min-height: 256px;
  width: 49%;
}

@media (max-width: 400px) {
  .wrapper.col-2 {
    width: 100%;
  }
}

.wrapper canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.btn {
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
}

.btn-gh {
  color: #fff;
  background-color: rgb(111, 111, 111);
}

.btn-gh:hover {
  color: #fff;
  background-color: rgb(90, 90, 90);
}

.btn-on {
  border-style: inset;
}

.chartjs-title {
  font-size: 2rem;
  font-weight: 600;
}

.chartjs-caption {
  font-size: 1.2rem;
}

.chartjs-links {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.chartjs-links a {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  margin: 0.2rem;
}

@media (max-width: 420px) {
  .chartjs-caption {
    font-size: 1.05rem;
  }

  .chartjs-title::before {
    content: '';
  }

  .chartjs-links a {
    flex-direction: column;
  }

  .chartjs-links .fa {
    margin: 0;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner > svg {
  border: 0;
  color: #fff;
  fill: #151513;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner .octo-arm:hover {
    animation: none;
  }
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}

